<div class="w-full max-w-screen-xl py-10 lg:py-20 mx-auto">
	<div class="text-center w-full px-4 mb-8 lg:mb-12">
		<h2 class="text-3xl md:text-5xl md:mb-4">Our Collections</h2>
		<p class="text-base md:text-lg max-w-lg mx-auto">Our latest collections have been crafted by some of the best designers in the world</p>
	</div>
	<div class="w-full flex flex-wrap px-2">
		<div class="cursor-pointer w-full sm:w-1/2 px-2 text-center mt-4">
			<div class="relative group overflow-hidden">
				<img class="w-full transition-all duration-1100 transform scale-100 group-hover:scale-150" src="../images/collection-1.jpg">
				<div class="absolute top-0 left-0 bottom-0 right-0 bg-black bg-opacity-30 transition-all duration-500 transform scale-0 group-hover:scale-100"></div>
				<div class="absolute bottom-5 md:bottom-8 left-5 md:left-8 bg-white bg-opacity-95 p-4 w-40 text-left">
					<h3 class="text-3xl font-semibold">Chairs</h3>
					<a href="#" class="hover:text-primary">Explore 
						<svg class="inline-block w-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="15px" viewBox="0 0 30 18" enable-background="new 0 0 30 18" xml:space="preserve">
							<path class="tatsu-svg-arrow-head" d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
								l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"></path>
							<path class="tatsu-svg-arrow-bar" fill-rule="evenodd" clip-rule="evenodd" d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
								C0,8.448,0.447,8,1,8z"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="cursor-pointer w-full sm:w-1/2 px-2 text-center mt-4">
			<div class="relative group overflow-hidden">
				<img class="w-full transition-all duration-1100 transform scale-100 group-hover:scale-150" src="../images/collection-2.jpg">
				<div class="absolute top-0 left-0 bottom-0 right-0 bg-black bg-opacity-30 transition-all duration-500 transform scale-0 group-hover:scale-100"></div>
				<div class="absolute bottom-5 md:bottom-8 left-5 md:left-8 bg-white bg-opacity-95 p-4 w-40 text-left">
					<h3 class="text-3xl font-semibold">Sofas</h3>
					<a href="#" class="hover:text-primary">Explore 
						<svg class="inline-block w-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="15px" viewBox="0 0 30 18" enable-background="new 0 0 30 18" xml:space="preserve">
							<path class="tatsu-svg-arrow-head" d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
								l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"></path>
							<path class="tatsu-svg-arrow-bar" fill-rule="evenodd" clip-rule="evenodd" d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
								C0,8.448,0.447,8,1,8z"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="cursor-pointer w-full sm:w-1/2 px-2 text-center mt-4">
			<div class="relative group overflow-hidden">
				<img class="w-full transition-all duration-1100 transform scale-100 group-hover:scale-150" src="../images/collection-3.jpg">
				<div class="absolute top-0 left-0 bottom-0 right-0 bg-black bg-opacity-30 transition-all duration-500 transform scale-0 group-hover:scale-100"></div>
				<div class="absolute bottom-5 md:bottom-8 left-5 md:left-8 bg-white bg-opacity-95 p-4 w-40 text-left">
					<h3 class="text-3xl font-semibold">Beds</h3>
					<a href="#" class="hover:text-primary">Explore 
						<svg class="inline-block w-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="15px" viewBox="0 0 30 18" enable-background="new 0 0 30 18" xml:space="preserve">
							<path class="tatsu-svg-arrow-head" d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
								l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"></path>
							<path class="tatsu-svg-arrow-bar" fill-rule="evenodd" clip-rule="evenodd" d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
								C0,8.448,0.447,8,1,8z"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="cursor-pointer w-full sm:w-1/2 px-2 text-center mt-4">
			<div class="relative group overflow-hidden">
				<img class="w-full transition-all duration-1100 transform scale-100 group-hover:scale-150" src="../images/dining.jpg">
				<div class="absolute top-0 left-0 bottom-0 right-0 bg-black bg-opacity-30 transition-all duration-500 transform scale-0 group-hover:scale-100"></div>
				<div class="absolute bottom-5 md:bottom-8 left-5 md:left-8 bg-white bg-opacity-95 p-4 w-40 text-left">
					<h3 class="text-3xl font-semibold">Dining</h3>
					<a href="#" class="hover:text-primary">Explore 
						<svg class="inline-block w-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="15px" viewBox="0 0 30 18" enable-background="new 0 0 30 18" xml:space="preserve">
							<path class="tatsu-svg-arrow-head" d="M20.305,16.212c-0.407,0.409-0.407,1.071,0,1.479s1.068,0.408,1.476,0l7.914-7.952c0.408-0.409,0.408-1.071,0-1.481
								l-7.914-7.952c-0.407-0.409-1.068-0.409-1.476,0s-0.407,1.071,0,1.48l7.185,7.221L20.305,16.212z"></path>
							<path class="tatsu-svg-arrow-bar" fill-rule="evenodd" clip-rule="evenodd" d="M1,8h28.001c0.551,0,1,0.448,1,1c0,0.553-0.449,1-1,1H1c-0.553,0-1-0.447-1-1
								C0,8.448,0.447,8,1,8z"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="border-b border-black border-opacity-20"></div>