    <footer class="max-w-screen-xl mx-auto bg-white pt-8 lg:pt-16 pb-6 lg:pb-14 flex flex-wrap">
        <div class="w-1/2 md:w-1/4 lg:w-1/5 px-4 mb-5 md:mb-0">
            <h4 class="font-semibold text-lg mb-3">Categories</h4>
            <ul>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Bedroom</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Dining</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Living</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Kids Room</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Furshings</a></li>
            </ul>
        </div>
        <div class="w-1/2 md:w-1/4 lg:w-1/5 px-4 mb-5 md:mb-0">
            <h4 class="font-semibold text-lg mb-3">Need Help?</h4>
            <ul>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Customer Help</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Help/FAQ</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Returns Policy</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Sizing</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Gift Cards</a></li>
            </ul>
        </div>
        <div class="w-1/2 md:w-1/4 lg:w-1/5 px-4">
            <h4 class="font-semibold text-lg mb-3">Quick Links</h4>
            <ul>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">About</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Contact</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Locations</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">History</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Investors</a></li>
            </ul>
        </div>
        <div class="w-1/2 md:w-1/4 lg:w-1/5 px-4">
            <h4 class="font-semibold text-lg mb-3">We Accept</h4>
            <ul>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Visa Card</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Master Card</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Paypal</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Stripe</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary left-0 hover:left-1 relative">Cash on Delivery</a></li>
            </ul>
        </div>
        <div class="w-full lg:w-1/5 px-4 mt-7 lg:mt-0 pt-7 lg:pt-0 text-center lg:text-left border-t lg:border-none border-black border-opacity-10">
            <h4 class="font-semibold text-lg mb-3">Get in touch</h4>
            <ul>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary">help@spyroshop.com</a></li>
                <li class="mb-2"><a href="#" class="transition-all duration-600 hover:text-primary">1800-123-1234</a></li>
                <li class="mb-4 mt-3"><a class="inline-block mr-2" href="#"><img class="max-w-full w-8" src="/images/facebook.png"></a><a class="inline-block mr-2" href="#"><img class="max-w-full w-8" src="/images/twitter.png"></a><a class="inline-block mr-2" href="#"><img class="max-w-full w-8" src="/images/pinterest.png"></a><a class="inline-block mr-2" href="#"><img class="max-w-full w-8" src="/images/instagram.png"></a></li>
                <li class="mb-2">© Dotsquares 2021</li>
            </ul>
        </div>
    </footer>

    <div class=""></div>

    <script type="text/javascript">
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>