        {{#each this}}
            {{#if @first}}
                <div class="w-full inline-block" href="#">
                    <img class="w-full max-full" src={{this.image.url}}>
                </div>            
            {{/if}}
        {{/each}}
