<div class="w-full max-w-screen-xl py-10 lg:py-20 mx-auto">
	<div class="text-center w-full px-4">
		<h2 class="text-3xl md:text-5xl md:mb-4">Top Rated Products</h2>
		<p class="text-base md:text-lg max-w-lg mx-auto">Our latest collections have been crafted by some of the best designers in the world</p>
	</div>
	<div class="w-full flex flex-wrap">
		<div class="group cursor-pointer w-1/2 md:w-1/4 px-4 text-center mt-8 lg:mt-16">
			<div class="relative group-hover:bg-black">
				<img src="../images/spyro-item-9-300x300.jpg">
				<div class="absolute top-0 left-0 text-xs bg-secondary text-white px-4 py-1 rounded-full">Sale!</div>
				<a href="#" class="absolute bottom-0 left-0 w-full py-3 px-6 bg-primary text-white text-center text-sm font-medium uppercase transition-all duration-500 opacity-0 group-hover:opacity-100 invisible group-hover:visible hover:bg-secondary">
					<svg class="w-4 h-4 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			        	<path fill="#fff" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path>
			    	</svg>Quick View
				</a>
				<a href="#" class="absolute top-0 right-0 w-8 h-8 shadow opacity-0 group-hover:opacity-100 transition-all duration-500">
					<svg class="mx-auto my-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
						<path d="M11.5555556,14.2222222 C11.5555556,15.2035556 12.3502222,16 13.3333333,16 C14.3146667,16 15.1111111,15.2035556 15.1111111,14.2222222 C15.1111111,13.2391111 14.3146667,12.4444444 13.3333333,12.4444444 C12.3502222,12.4444444 11.5555556,13.2391111 11.5555556,14.2222222 Z M2.66666667,14.2222222 C2.66666667,15.2035556 3.46222222,16 4.44444444,16 C5.42488889,16 6.22222222,15.2035556 6.22222222,14.2222222 C6.22222222,13.2391111 5.42488889,12.4444444 4.44444444,12.4444444 C3.46222222,12.4444444 2.66666667,13.2391111 2.66666667,14.2222222 Z M5.81955556,9.93066667 L15.6577778,7.12 C15.8453333,7.06577778 16,6.86311111 16,6.66666667 L16,1.77777778 L3.55555556,1.77777778 L3.55555556,0.355555556 C3.55555556,0.16 3.39466667,0 3.20088889,0 L0.354666667,0 C0.16,0 0,0.16 0,0.355555556 L0,1.77777778 L1.77777778,1.77777778 L3.47555556,9.73955556 L3.55555556,10.5777778 L3.55555556,12.0435556 C3.55555556,12.2382222 3.71555556,12.3991111 3.91111111,12.3991111 L15.6444444,12.3991111 C15.84,12.3991111 16,12.2373333 16,12.0435556 L16,10.6666667 L6.00177778,10.6666667 C4.97955556,10.6666667 4.95822222,10.1768889 5.81955556,9.93066667 Z"></path>
					</svg>
				</a>
			</div>
			<div class="my-3 text-xs uppercase"><a class="inline-block text-black text-opacity-50 mx-1" href="#">Living</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Bedroom</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Dining</a></div>
			<h3 class="text-lg font-semibold mb-2"><a href="#" class="hover:text-primary">Start Luxury Pillow</a></h3>
			<div class=""><strong class="font-normal line-through mr-2">$100.00</strong><strong class="font-medium">$70.00</strong></div>
		</div>
		<div class="group cursor-pointer w-1/2 md:w-1/4 px-4 text-center mt-8 lg:mt-16">
			<div class="relative group-hover:bg-black">
				<img src="../images/spyro-item-9-300x300.jpg">
				<a href="#" class="absolute bottom-0 left-0 w-full py-3 px-6 bg-primary text-white text-center text-sm font-medium uppercase transition-all duration-500 opacity-0 group-hover:opacity-100 invisible group-hover:visible hover:bg-secondary">
					<svg class="w-4 h-4 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			        	<path fill="#fff" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path>
			    	</svg>Quick View
				</a>
				<a href="#" class="absolute top-0 right-0 w-8 h-8 shadow opacity-0 group-hover:opacity-100 transition-all duration-500">
					<svg class="mx-auto my-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
						<path d="M11.5555556,14.2222222 C11.5555556,15.2035556 12.3502222,16 13.3333333,16 C14.3146667,16 15.1111111,15.2035556 15.1111111,14.2222222 C15.1111111,13.2391111 14.3146667,12.4444444 13.3333333,12.4444444 C12.3502222,12.4444444 11.5555556,13.2391111 11.5555556,14.2222222 Z M2.66666667,14.2222222 C2.66666667,15.2035556 3.46222222,16 4.44444444,16 C5.42488889,16 6.22222222,15.2035556 6.22222222,14.2222222 C6.22222222,13.2391111 5.42488889,12.4444444 4.44444444,12.4444444 C3.46222222,12.4444444 2.66666667,13.2391111 2.66666667,14.2222222 Z M5.81955556,9.93066667 L15.6577778,7.12 C15.8453333,7.06577778 16,6.86311111 16,6.66666667 L16,1.77777778 L3.55555556,1.77777778 L3.55555556,0.355555556 C3.55555556,0.16 3.39466667,0 3.20088889,0 L0.354666667,0 C0.16,0 0,0.16 0,0.355555556 L0,1.77777778 L1.77777778,1.77777778 L3.47555556,9.73955556 L3.55555556,10.5777778 L3.55555556,12.0435556 C3.55555556,12.2382222 3.71555556,12.3991111 3.91111111,12.3991111 L15.6444444,12.3991111 C15.84,12.3991111 16,12.2373333 16,12.0435556 L16,10.6666667 L6.00177778,10.6666667 C4.97955556,10.6666667 4.95822222,10.1768889 5.81955556,9.93066667 Z"></path>
					</svg>
				</a>
			</div>
			<div class="my-3 text-xs uppercase"><a class="inline-block text-black text-opacity-50 mx-1" href="#">Living</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Bedroom</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Dining</a></div>
			<h3 class="text-lg font-semibold mb-2"><a href="#" class="hover:text-primary">Start Luxury Pillow</a></h3>
			<div class=""><strong class="font-normal line-through mr-2">$100.00</strong><strong class="font-medium">$70.00</strong></div>
		</div>
		<div class="group cursor-pointer w-1/2 md:w-1/4 px-4 text-center mt-8 lg:mt-16">
			<div class="relative group-hover:bg-black">
				<img src="../images/spyro-item-9-300x300.jpg">
				<a href="#" class="absolute bottom-0 left-0 w-full py-3 px-6 bg-primary text-white text-center text-sm font-medium uppercase transition-all duration-500 opacity-0 group-hover:opacity-100 invisible group-hover:visible hover:bg-secondary">
					<svg class="w-4 h-4 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			        	<path fill="#fff" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path>
			    	</svg>Quick View
				</a>
				<a href="#" class="absolute top-0 right-0 w-8 h-8 shadow opacity-0 group-hover:opacity-100 transition-all duration-500">
					<svg class="mx-auto my-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
						<path d="M11.5555556,14.2222222 C11.5555556,15.2035556 12.3502222,16 13.3333333,16 C14.3146667,16 15.1111111,15.2035556 15.1111111,14.2222222 C15.1111111,13.2391111 14.3146667,12.4444444 13.3333333,12.4444444 C12.3502222,12.4444444 11.5555556,13.2391111 11.5555556,14.2222222 Z M2.66666667,14.2222222 C2.66666667,15.2035556 3.46222222,16 4.44444444,16 C5.42488889,16 6.22222222,15.2035556 6.22222222,14.2222222 C6.22222222,13.2391111 5.42488889,12.4444444 4.44444444,12.4444444 C3.46222222,12.4444444 2.66666667,13.2391111 2.66666667,14.2222222 Z M5.81955556,9.93066667 L15.6577778,7.12 C15.8453333,7.06577778 16,6.86311111 16,6.66666667 L16,1.77777778 L3.55555556,1.77777778 L3.55555556,0.355555556 C3.55555556,0.16 3.39466667,0 3.20088889,0 L0.354666667,0 C0.16,0 0,0.16 0,0.355555556 L0,1.77777778 L1.77777778,1.77777778 L3.47555556,9.73955556 L3.55555556,10.5777778 L3.55555556,12.0435556 C3.55555556,12.2382222 3.71555556,12.3991111 3.91111111,12.3991111 L15.6444444,12.3991111 C15.84,12.3991111 16,12.2373333 16,12.0435556 L16,10.6666667 L6.00177778,10.6666667 C4.97955556,10.6666667 4.95822222,10.1768889 5.81955556,9.93066667 Z"></path>
					</svg>
				</a>
			</div>
			<div class="my-3 text-xs uppercase"><a class="inline-block text-black text-opacity-50 mx-1" href="#">Living</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Bedroom</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Dining</a></div>
			<h3 class="text-lg font-semibold mb-2"><a href="#" class="hover:text-primary">Start Luxury Pillow</a></h3>
			<div class=""><strong class="font-normal line-through mr-2">$100.00</strong><strong class="font-medium">$70.00</strong></div>
		</div>
		<div class="group cursor-pointer w-1/2 md:w-1/4 px-4 text-center mt-8 lg:mt-16">
			<div class="relative group-hover:bg-black">
				<img src="../images/spyro-item-9-300x300.jpg">
				<a href="#" class="absolute bottom-0 left-0 w-full py-3 px-6 bg-primary text-white text-center text-sm font-medium uppercase transition-all duration-500 opacity-0 group-hover:opacity-100 invisible group-hover:visible hover:bg-secondary">
					<svg class="w-4 h-4 inline-block mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
			        	<path fill="#fff" d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"></path>
			    	</svg>Quick View
				</a>
				<a href="#" class="absolute top-0 right-0 w-8 h-8 shadow opacity-0 group-hover:opacity-100 transition-all duration-500">
					<svg class="mx-auto my-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
						<path d="M11.5555556,14.2222222 C11.5555556,15.2035556 12.3502222,16 13.3333333,16 C14.3146667,16 15.1111111,15.2035556 15.1111111,14.2222222 C15.1111111,13.2391111 14.3146667,12.4444444 13.3333333,12.4444444 C12.3502222,12.4444444 11.5555556,13.2391111 11.5555556,14.2222222 Z M2.66666667,14.2222222 C2.66666667,15.2035556 3.46222222,16 4.44444444,16 C5.42488889,16 6.22222222,15.2035556 6.22222222,14.2222222 C6.22222222,13.2391111 5.42488889,12.4444444 4.44444444,12.4444444 C3.46222222,12.4444444 2.66666667,13.2391111 2.66666667,14.2222222 Z M5.81955556,9.93066667 L15.6577778,7.12 C15.8453333,7.06577778 16,6.86311111 16,6.66666667 L16,1.77777778 L3.55555556,1.77777778 L3.55555556,0.355555556 C3.55555556,0.16 3.39466667,0 3.20088889,0 L0.354666667,0 C0.16,0 0,0.16 0,0.355555556 L0,1.77777778 L1.77777778,1.77777778 L3.47555556,9.73955556 L3.55555556,10.5777778 L3.55555556,12.0435556 C3.55555556,12.2382222 3.71555556,12.3991111 3.91111111,12.3991111 L15.6444444,12.3991111 C15.84,12.3991111 16,12.2373333 16,12.0435556 L16,10.6666667 L6.00177778,10.6666667 C4.97955556,10.6666667 4.95822222,10.1768889 5.81955556,9.93066667 Z"></path>
					</svg>
				</a>
			</div>
			<div class="my-3 text-xs uppercase"><a class="inline-block text-black text-opacity-50 mx-1" href="#">Living</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Bedroom</a><a href="#" class="inline-block text-black text-opacity-50 mx-1">Dining</a></div>
			<h3 class="text-lg font-semibold mb-2"><a href="#" class="hover:text-primary">Start Luxury Pillow</a></h3>
			<div class=""><strong class="font-normal line-through mr-2">$100.00</strong><strong class="font-medium">$70.00</strong></div>
		</div>
	</div>
</div>